*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*.apk
*.ap_
*.aab
*.dex
*.class
bin/
gen/
out/
.gradle/
build/
*.log
*.nav
*.orig
*.pyc
*.swp
*~
.metadata
tmp/
*.tmp
*.bak
*.swp
*~.nib
.settings/
.loadpath
.recommenders
.project
.classpath
.c9/
*.launch
.buildpath
.target
.tern-project
.texlipse
.springBeans
.recommenders/
.apt_generated/
.factorypath
.project
.settings
.classpath
